@media all and (max-width: 420px) {

    /* larghezza righe in % anzichè in px */
    .row{
        max-width: 80%;
        margin-top: 60px;
    }

    /* avvicino la prima sezione all'inizio della pagina */
    #lezioni .row:first-child{
        margin-top: 20px;
    }

    /* SEZIONE LEZIONI */
    /* left e right si incolonnano */
    #lezioni .row>.left,
    #lezioni .row>.right {
        float: none;
        width: 100%;
    }

    /* immagini restano più o meno delle stesse dimensioni */
    #lezioni img{
        max-width: 60vw;
        max-height: 40vw;
        margin: 30px auto 0 auto;
    }


    /* SEZIONE STEPS */
    /* left e central restano su una riga */
    #steps .row>.left{
        float: left;
        width:45%;
    }
    #steps .row>.central{
        float: right;
        width:45%;
    }

    /* right va sotto */
    #steps .row>.right{
        float: bottom;
        width: 100%;
    }

    /* immagini restano più o meno delle stesse dimensioni */
    #steps img{
        max-width: 40vw;
        max-height: 30vw;
        margin: 30px auto 0 auto;
    }


    /* SEZIONE WHY */
    /* ridimensioino le immagini */
    #why .row img {
        max-width: 25vw;
        max-height: 25vw;
    }

    /* cambio un minimo i margini in verticale */
    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
      margin-top: 40px;
    }

}
